@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply md:w-[32vw] rounded-full text-primary placeholder-primary
                  text-xl font-semibold px-8 md:py-3 leading-4  border-2 border-slate-50 focus:outline-none  focus:border-white shadow-md focus:ring-0 hover:bg-transparent hover:text-white hover:placeholder-white transition-all duration-300 ease-linear;
  }
  .button {
    @apply text-slate-50 text-center text-sm md:text-2xl font-medium tracking-wide border-2 rounded-full px-4 md:px-9 py-1 md:py-2  border-white font-FutuLight hover:shadow-emerald-50 hover:text-secondary hover:border-secondary transition-all duration-300 ease-linear;
  }
  .form-input-contact {
    @apply text-sm md:text-xl font-semibold bg-primary bg-opacity-10 outline-none border-0  border-r-4 border-r-primary px-3 py-1  focus:outline-none focus:ring-0 focus:border-r-primary transition-all duration-300 ease-linear;
  }
  .bgcontainer{
    @apply bg-ellipse bg-cover bg-center w-full h-screen px-[5vw] md:px-[15vw] py-[5vh] md:py-[10vh] overflow-hidden
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: 'FutuBold';
  src: url('../public/FutuBold.ttf');
}
@font-face {
  font-family: 'FutuLight';
  src: url('../public/FutuLight.ttf');
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff8d3e transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left:20px;
  margin-right:20px
}

*::-webkit-scrollbar-thumb {
  background-color: #ff8d3e;
  border-radius: 25px;
  border: none;
}
.rotate {
  animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.rotateA {
  animation: rotateA-keyframes 1s;
}

@keyframes rotateA-keyframes {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}
